/* Body 스타일 */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 중앙에서 시작하도록 수정 */
    min-height: 100vh; /* 최소 높이를 뷰포트 높이로 설정 */
    overflow-y: auto; /* 스크롤 가능하도록 추가 */
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

/* Main Content */
#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* 추가: 세로 가운데 정렬 */
    position: relative;
    width: 80%; /* 적절한 너비 설정 */
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가로 가운데 정렬 */
}



#chart-title {
    margin-top: 200px; /* h3와 검색 바 사이의 공간 추가 */
    margin-bottom: 100px; /* h3와 검색 바 사이의 공간 추가 */
    font-size: 36px; /* 폰트 크기 설정 */
    color: #00C73C; /* 폰트 색상 설정 */
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #00C73C, #3498DB, #E44C29);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 30vw;
    position: relative; /* 검색 바의 위치를 기준으로 팝업 위치 설정 */
    z-index: 1; /* 검색 바가 팝업 위에 위치하도록 설정 */
}

.search-input {
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    outline: none;
    flex: 1;
    color: white;
    background-color: transparent;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-button {
    background-color: white;
    color: #00C73C;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

/* Search Results Popup */
.search-results-popup {
    position: absolute;
    top: 100%; /* 검색 바 바로 아래에 위치하도록 설정 */
    left: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
    display: none; /* 기본적으로 숨김 */
    z-index: 10; /* 팝업이 다른 요소 위에 표시되도록 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.search-results-popup .result-section {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight:bolder;
    color: #333;
}

.search-results-popup .result-section h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.search-results-popup .result-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}

.search-results-popup .result-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-results-popup .result-item:hover {
    background: #f0f0f0;
}

/* Artist Details */
.artist-details {
    display: flex;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.artist-meta h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.artist-meta p {
    margin: 5px 0 0;
    color: #777;
}

.artist-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.artist-info {
    display: flex;
    align-items: center;
}

.artist-meta {
    display: flex;
    flex-direction: column;
}

/* Artist Tracks */
.artist-tracks h3 {
    margin: 0 0 20px;
    color: #333;
}

.artist-tracks {
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Track Item */
.track-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer; /* 커서가 올라갔을 때 포인터로 변경 */
}

.track-item:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}
.track-thumbnail {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
}

.track-meta {
    display: flex;
    flex-direction: column;
}

.track-meta h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.track-meta p {
    margin: 5px 0 0;
    color: #777;
}

.track-item:link, .track-item:visited {
    text-decoration: none; /* 방문 전후 모두 밑줄 제거 */
    color: inherit; /* 부모 요소의 색상 상속 */
}
/* Track Details */


.track-details {
    margin-top: 20px;
    width: 50vw;
}

.track-title {
    font-weight: bold;
    font-size: 16px;
  }
  
  /* 아티스트 정보 스타일 */
  .track-artists {
    font-weight: normal;
    font-size: 14px;
    color: #555; /* 부가 정보 느낌을 주기 위한 색상 */
    margin-left: 5px; /* 약간의 여백 추가 */
  }
  

/* Date Selector */
.date-selector {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.date-selector label {
    margin: 0 10px;
}

.date-selector input {
    padding: 5px;
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.date-selector button {
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    background-color: #7e6dfa;
    color: white;
    cursor: pointer;
}

.date-selector button:hover {
    background-color: #6d5cd3;
}
