@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .responsive-h1 {
    @apply text-2xl; /* 기본 크기 */
    @apply font-bold; /* 굵은 폰트 */
  }
  .responsive-h2 {
    @apply text-lg; /* 기본 크기 */
    @apply font-semibold; /* 조금 덜 굵은 폰트 */
  }

  .responsive-h3 {
    @apply text-lg; /* 기본 크기 */
    @apply font-medium; /* 더 작은 굵기 */
  }

  .responsive-text {
    @apply text-sm; /* 기본 크기 */
  }

  .responsive-small-text {
    @apply text-xs; /* 기본 크기 */
  }

  .responsive-extra-small-text {
    @apply text-[0.625rem]; /* 기본 크기 (text-xs보다 작음) */
  }

  @screen sm {
    .responsive-h1 {
      @apply text-3xl;
    }

    .responsive-h2 {
      @apply text-xl; /* 크기 줄임 */
    }

    .responsive-h3 {
      @apply text-xl;
    }
    .responsive-text {
      @apply text-base;
    }
    .responsive-small-text {
      @apply text-[0.75rem]; /* sm에서 작은 크기 */
    }
    .responsive-extra-small-text {
      @apply text-[0.6875rem]; /* sm에서 extra-small 크기 */
    }
  }

  @screen md {
    .responsive-h1 {
      @apply text-4xl;
    }
    .responsive-h2 {
      @apply text-2xl; /* 크기 줄임 */
    }
    .responsive-h3 {
      @apply text-2xl;
    }
    .responsive-text {
      @apply text-lg;
    }
    .responsive-small-text {
      @apply text-[0.875rem]; /* md에서 작은 크기 */
    }
    .responsive-extra-small-text {
      @apply text-[0.8125rem]; /* md에서 extra-small 크기 */
    }
  }
}
/* .slick-prev,
.slick-next {
  display: none !important;
} */

.slick-arrow{
  height:10px;
  width: 10px;
}

.slick-arrow.slick-next,
.slick-arrow.slick-prev{
background-color: #428cff;
height:30px;
width: 30px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover
{
    background-color: #2574f5;
    opacity:1;
}



